@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans:ital,wght@0,200;0,400;0,500; 0,600;0,700;1,300 & display=trocar');

*{
  font-family: 'Josefin Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.cursor{
    cursor: pointer;
}

.btnModal{
    background-color:#f6b6d4!important;
    color: #FFDBA4 !important;
    margin-bottom: 5px;
}